caus
caus-bin/caus
caus-bin/caus_assign
caus-bin/caus_fasta
caus-bin/caus_seqout
caus-bin/caus_shred
caus-bin/caus_smalt1
caus-bin/caus_smalt2
caus-bin/caus_smalt3
caus.o
caus_assign
caus_assign.o
caus_fasta
caus_fasta.o
caus_seqout
caus_seqout.o
caus_shred
caus_shred.o
caus_smalt1
caus_smalt1.o
caus_smalt2
caus_smalt2.o
caus_smalt3
caus_smalt3.o
fast.o

